*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


h1{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    color: black;
    padding-bottom: 8px;
    border-bottom: 1px solid silver;
}

.container{
    max-width: 650px;
    padding: 28px;
    margin: 0 28px;
    margin-top: 50px;
    box-shadow: 0 15px 20px gray;
}

.user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    font-weight: bold;
}


.input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.input-box input{
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

.button{
    margin: 15px 0;
}

.button input{
    width: 595px;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, #aa076b, #61045f);
}

.button input:hover{
    background-image: linear-gradient(to right, #61045f, #aa076b);
}